@model BorisWeb.Models.Rate

@{
    ViewData["Title"] = "Details";
}

<h1>More info? joke on you</h1>


<div class="blank-size container d-flex justify-content-center align-items-center">
    <div class="card p-3">
        <div class="d-flex justify-content-between align-items-center">
            <div class="name-size">
                @Model.Name
            </div>
            <div class="ratings">
                @for (int x = 0; x < @Model.Rating; x++)
                {
                    <i class="fa fa-star rating-color"></i>
                }
                @for (int x = 0; x < 5 - @Model.Rating; x++)
                {
                    <i class="fa fa-star"></i>
                }
            </div>
        </div>
        <div class="review-size">
            @Model.Feedback
        </div>
        <div class="d-flex justify-content-between align-items-center">
            <div class="date-size">
                @Model.Date
            </div>
            <div>
                <a class="style-zero" asp-action="Index">
                    <i class="bi bi-house"></i>
                </a>
                <a class="style-zero" asp-action="Edit" asp-route-id="@Model.Name">
                    <i class="bi bi-pencil"></i>
                </a>
                <a class="style-zero" asp-action="Delete" asp-route-id="@Model.Name">
                    <i class="bi bi-trash"></i>
                </a>
            </div>
        </div>
    </div>
</div>